body
  //padding 2em 5em 0
  padding-top 100px
  
.subhead h1
  font-size 54px

footer
  margin-top 3em

.timestamp
  textarea
    width 90%
    height 10em
  #hash input
    width 90%
  .btns
    margin 1em 0
  .error
    margin-top 1em
    display none
#result
  display none
  font-size 1.3em

.payment
  margin-top 2em


.navbar .nav>li:last-child>a
  border-right none

.btn
  cursor pointer

